body {
    font-family: 'Tahoma', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 500px) {
    #a1a-arc-toggle { height: 56px !important; padding: 0 22px !important; font-size: 24pt !important; }
    #a1a-arc-panel { top: 66px !important; width: 220px !important; padding: 16px !important; }
  }
